@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap&family=Dancing+Script:wght@400..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.title {
  @apply text-3xl font-semibold capitalize text-center my-8 italic font-cormorant;
}

.font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.font-cormorant {
  font-family: "Cormorant Garamond", serif;
}
.font-script {
  font-family: "Dancing Script", serif;
}
